<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include("partials/css.ejs") %>
    <title>Fantastic Cakeshop!</title>

</head>

<body>
    <%- include("partials/header.ejs") %>

    <!-- Contact Section Begin -->

    <section class="contact spad">
        <div class="container">
            <div id="wrap-locate-and-contact">
                <div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="contact__text">
                                <h3>Locate Us</h3>
                            </div>
                            <div class="map">
                                <div class="map-responsive">
                                    <iframe
                                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJQO8m20Z2jERyupuwJZM3Tk&key=<%=goog_map%>"
                                        height="400" width="1200" style="border:0;" allowfullscreen="" aria-hidden="false"
                                        tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="row">
                            <div class="contact__form">
                                <div class="contact__text">
                                    <h3>Contact Us / Feedback</h3>
                                </div>
                                
                                <form action="/feedback" method="POST">
                                    <div class="row">
                                        
                                        <div class="col-lg-6">
                                            <% if (!username) { %>
                                            <input type="text" placeholder="Name" name="name" required>
                                            <% } else { %>
                                            <input type="text" value="<%= name %>" name="name" required disabled>
                                            <% } %>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <% if (!username) { %>
                                                <input type="text" placeholder="Email" name="email" required>
                                            <% } else { %>
                                                <input type="text" value="<%= email %>" name="email" required disabled>
                                            <% } %>
                                        </div>
                                    
                                        <div class="col-lg-12">
                                            <textarea placeholder="Message / Feedback" name="text"></textarea>
                                            <button type="submit" class="site-btn">Send Us</button>
                                        </div>
                                    </div>
                                </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <%- include("partials/footer.ejs") %>

</body>

</html>