<!DOCTYPE html>
<html lang="zxx">

<head>

    <%- include("partials/css.ejs") %>
    <title>Fantastic Cakeshop!</title>

</head>

<body>

    <%- include("partials/header.ejs") %>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Order Summary</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4">

                    <p>Showing <%= Object.keys(orderSummary).length %> results</p>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <div class="order__summary__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Order Number <%= usertype === "admin" ? '/ name' : '' %></th>
                                    <th>Date</th>
                                    <th>Total Amount</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const element of orderSummary) { %>
                                <tr>
                                    <td class="order__info"><%= element.orderId%> 
                                        <% if (usertype === "admin") { %> 
                                            / <%= element.firstName + " " + element.lastName + " (" + element.user + ")" %>
                                        <% } %>
                                    </td>
                                    
                                    <% let date = element.createdAt%>
                                    <% date = String(date).split(" ") %>
                                    
                                    <td class="order__info"> <%= date.slice(2,3) %> <%= date.slice(1,2) %> <%= date.slice(3,4) %></td>
                                    <td class="order__info">$<%= element.cart.totalPrice %></td>
                                    <td class="order__info">
                                        <% if (element.fulfilled) {  %> 
                                            Order sent by <%= element.fulfilledBy %>
                                        <% } else { %>
                                            In Progress
                                        <% } %>
                                    </td>
                                    <td class="order__info__button">
                                        <a href="/order/<%= element.orderId %>" class="primary-btn">View Info</a>

                                        <% if (usertype === "admin") { %>
                                        <form action="/order/fulfill-order/<%= element.orderId %>?_method=PUT" method="POST">
                                            <% if (!element.fulfilled) { %>
                                                <button class="primary-btn">Fulfill</button>
                                            <% } else { %>
                                                <button class="primary-btn" disabled>Fulfilled</button>
                                                
                                            <% } %>
                                        </form>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Shop Section End -->

    <%- include("partials/footer.ejs") %>

</body>

</html>