<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include("partials/css.ejs") %>
    <title>Fantastic Cakeshop!</title>

</head>

<body>
    <%- include("partials/header.ejs") %>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shopping Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <% if (session.cart) { %>
                                <% for (const value of Object.values(session.cart.items)) { %>
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="<%= value.item.imagePath %>" width="90px" height="90px" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6><%= value.item.name %></h6>
                                        <h5><%= value.item.name %></h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="<%= value.qty %>">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ <%= value.price %></td>
                                <td class="cart__close"><span class="icon_close"></span></td>
                            </tr>
                            <% } %>
                            <% } else { %>
                            <tr>
                                <td>
                                    <div>
                                        <p>Nothing added to cart</p>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="/shop">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span>$ <%= session.cart ? session.cart.totalPrice: 0%></span></li>
                    </ul>
                    <a href="#" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

    <%- include("partials/footer.ejs") %>

</body>

</html>